body{
	background-color: #3D6AF2;
}

h1{
	font-family: sans-serif;
	color: white;
	position: center;
	padding: 20px;
	margin-left: 41%;
}

div.instrucion{
	background: #D8D8D8;
	font-family: sans-serif;
	color:#585858;
	position: relative;
	padding: 20px;
	margin-left: 25%;
	margin-right: 25%;
}

div.addAtv{
	padding: 20px;
	margin-left: 23.5%;
	margin-right: 0.5%;
}

div.listAtv{
	position: relative;
	margin-left: 25%;
	margin-right: 25%;
	background-color: #F24130;
}

input{
	width: 60%;
}

button{
	background: #D8D8D8;
}


/* Isso é só uma paleta de cores que pesquisei para usarmos 
/* Color Theme Swatches in Hex */
.Collections-1-hex { color: #0540F2; }
.Collections-2-hex { color: #3D6AF2; }
.Collections-3-hex { color: #02732A; }
.Collections-4-hex { color: #F2E205; }
.Collections-5-hex { color: #F24130; }

/* Color Theme Swatches in RGBA */
.Collections-1-rgba { color: rgba(4, 64, 242, 1); }
.Collections-2-rgba { color: rgba(60, 105, 242, 1); }
.Collections-3-rgba { color: rgba(2, 114, 41, 1); }
.Collections-4-rgba { color: rgba(242, 226, 4, 1); }
.Collections-5-rgba { color: rgba(242, 64, 48, 1); }

/* Color Theme Swatches in HSLA */
.Collections-1-hsla { color: hsla(225, 96, 48, 1); }
.Collections-2-hsla { color: hsla(225, 87, 59, 1); }
.Collections-3-hsla { color: hsla(140, 96, 22, 1); }
.Collections-4-hsla { color: hsla(56, 96, 48, 1); }
.Collections-5-hsla { color: hsla(5, 88, 56, 1); }
